<%= form_with model: @user do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>